* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  color: black;
}

body {
  background-color: rgb(2, 0, 36);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
}
@media (max-width: 700px) {
  .container {
    margin-right: 0;
    justify-content: flex-start;
  }
}

.flex-container {
  min-width: calc(100vw - 260px);
  max-height: 100%;
  display: flex;
  border: 5px solid white;
  overflow-y: scroll;
}
.flex-container .flex-item {
  height: 20%;
  width: 15%;
  background-color: #9fd0f9;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(33, 33, 44, 0.867);
  font-size: 3rem;
  font-weight: 700;
  gap: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  min-height: 100vh;
  background-color: rgba(33, 33, 44, 0.867);
}
.menu .head {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  height: 20%;
}
.menu .head h1 {
  color: #9fd0f9;
}
.menu .head .btn {
  border-radius: 20px;
  border: 4px solid #2a5f7a;
  background-color: rgba(33, 33, 44, 0.867);
  padding: 10px;
  cursor: pointer;
}
.menu .head .btn a {
  text-decoration: none;
  color: #9fd0f9;
}
.menu .head .btn:hover {
  transform: translateY(-10px);
  transition: ease-in-out 0.2s;
  box-shadow: 0 10px #2a5f7a;
}
.menu .selection {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.menu .selection .item {
  background-color: #2a5f7a;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  cursor: pointer;
}
.menu .selection .item:hover {
  background-color: #9fd0f9;
  color: #2a5f7a;
}/*# sourceMappingURL=flex-style.css.map */