* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    color: black;
}
$main-color: rgba(33, 33, 44, 0.867);
$second-color: #9fd0f9;
$third-color: #2a5f7a;


body {
    background-color: rgb(2, 0, 36);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;

    @media (max-width: 700px) {
        margin-right: 0;
        justify-content: flex-start;
    }
}

.flex-container {
    min-width: calc(100vw - 260px);
    max-height: 100%;
    display: flex;
    border: 5px solid white;
    overflow-y: scroll;

    .flex-item {
        height: 20%;
        width: 15%;
        background-color: $second-color;
        border: 2px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $main-color;
        font-size: 3rem;
        font-weight: 700;
        gap: 0;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    min-height: 100vh;
    background-color: $main-color;

    .head {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        height: 20%;

        h1{
            color: $second-color;
        }

        .btn {
            border-radius: 20px;
            border: 4px solid $third-color;
            background-color: $main-color;
            padding: 10px;
            cursor: pointer;

            a {
                text-decoration: none;
                color: $second-color;
            }
        }

        .btn:hover {
            transform: translateY(-10px);
            transition: ease-in-out 0.2s;
            box-shadow: 0 10px $third-color;
        }
    }

    .selection {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        .item {
            background-color: $third-color;
            color: white;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid black;
            cursor: pointer;
        }

        .item:hover {
            background-color: $second-color;
            color: $third-color;
        }
    }
}
