* {
  font-family: Helvetica, sans-serif;
}

body {
  background: rgb(2, 0, 36);
  background: radial-gradient(circle, rgb(2, 0, 36) 1%, #9fd0f9 29%, rgba(33, 33, 44, 0.867) 100%);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  font-size: 1em;
}

.main {
  position: relative;
  margin: 0;
  padding: 0;
  max-height: auto;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
.main .header-container {
  background: rgba(33, 33, 44, 0.867);
  display: flex;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  min-width: 400px;
  align-items: center;
}
@media (max-width: 950px) {
  .main .header-container {
    max-width: 100%;
    min-width: 100%;
  }
}
.main .header-container .left {
  height: 100%;
  min-width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .header-container .left svg {
  width: auto;
  max-height: 90%;
  fill: white;
}
.main .header-container .left svg #path10250 {
  stroke: white;
}
.main .header-container .right {
  height: 20px;
  min-width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}
.main .header-container .right h1 {
  text-align: center;
  font-size: 2rem;
  color: white;
  font-weight: 1000;
}
.main .header-container .right .btn {
  border-radius: 20px;
  border: 4px solid #2a5f7a;
  background-color: rgba(33, 33, 44, 0.867);
  padding: 10px;
  cursor: pointer;
}
.main .header-container .right .btn a {
  text-decoration: none;
  color: white;
}
.main .header-container .right .btn:hover {
  transform: translateY(-10px);
  transition: ease-in-out 0.2s;
  box-shadow: 0 10px #2a5f7a;
}
.main .body-container {
  background: rgba(33, 33, 44, 0.867);
  max-width: 50%;
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  max-height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}
@media (max-width: 950px) {
  .main .body-container {
    max-width: 100%;
    min-width: 100%;
  }
}
.main .body-container .items {
  background-color: #9fd0f9;
  display: flex;
  min-height: 200px;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 10px;
}
.main .body-container .items .link {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.main .body-container .items .disabled {
  pointer-events: none;
}
.main .body-container .items:hover {
  background-color: rgba(33, 33, 44, 0.867);
  transform: translateY(-16px);
  box-shadow: 0 10px rgba(0, 0, 0, 0.1);
  transition: ease-in-out 0.2s;
  color: white;
}
.main .footer-container {
  background: rgba(33, 33, 44, 0.867);
  max-width: 50%;
  min-width: 400px;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 950px) {
  .main .footer-container {
    max-width: 100%;
    min-width: 100%;
  }
}
.main .footer-container h2,
.main .footer-container p {
  color: rgba(255, 255, 255, 0.7);
  margin: 1em 0 0 0;
}
.main .footer-container p {
  text-align: center;
}
.main .footer-container p a {
  text-decoration: none;
  font-weight: 700;
}
.main .footer-container p a:nth-child(1) {
  color: #ba4e18;
}
.main .footer-container p :nth-child(2) {
  color: #659adf;
}
.main .footer-container p :nth-child(3) {
  color: #e0d44f;
}
.main .footer-container p :nth-child(4) {
  color: white;
}
.main .footer-container p a:hover {
  color: #9fd0f9;
}
.main .footer-container .icons {
  display: flex;
  align-content: space-evenly;
  height: 100%;
}
.main .footer-container .icons svg {
  min-height: 1.5em;
  margin: 1em 1em 1em 1em;
  fill: #9fd0f9;
  cursor: pointer;
}
.main .footer-container .icons svg:hover {
  fill: white;
}/*# sourceMappingURL=style.css.map */