$main-color: rgba(33, 33, 44, 0.867);
$second-color: #9fd0f9;
$third-color: #2a5f7a;

* {
    font-family: Helvetica, sans-serif;
}
body {
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 1%, $second-color 29%, $main-color 100%);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    font-size: 1em;
}

.main {
    position: relative;
    margin: 0;
    padding: 0;
    max-height: auto;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;

    .header-container {
        background: $main-color;
        display: flex;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        max-width: 50%;
        min-width: 400px;
        align-items: center;

        @media (max-width: 950px) {
            max-width: 100%;
            min-width: 100%;
        }

        .left {
            height: 100%;
            min-width: 30%;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                width: auto;
                cursor: pointer;
                max-height: 90%;
                fill: white;
                #path10250{
                    stroke: white;
                }
            }
        }
        .right {
            height: 20px;
            min-width: 70%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 10px;
            h1 {
                text-align: center;
                font-size: 2rem;
                color: white;
                font-weight: 1000;
            }
            .btn {
                border-radius: 20px;
                border: 4px solid $third-color;
                background-color: $main-color;
                padding: 10px;
                cursor: pointer;
                a{
                    text-decoration: none;
                    color: white;
                }
            }
        
            .btn:hover {
                transform: translateY(-10px);
                transition: ease-in-out 0.2s;
                box-shadow: 0 10px $third-color;
            }
        }
    }

    .body-container {
        background: $second-color;
        max-width: 50%;
        min-width: 400px;
        margin-left: auto;
        margin-right: auto;
        min-height: 100vh;
        max-height: auto;
        display: grid;
        @media (max-width: 950px) {
            max-width: 100%;
            min-width: 100%;
        }
    }


    .footer-container {
        background: $main-color;
        max-width: 50%;
        min-width: 400px;
        bottom: 0;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: 950px) {
            max-width: 100%;
            min-width: 100%;
        }

        h2,
        p {
            color: rgb(255, 255, 255, 0.7);
            margin: 1em 0 0 0;
        }

        p {
            text-align: center;

            a {
                text-decoration: none;
                font-weight: 700;
            }

            a:nth-child(1) {
                color: #ba4e18;
            }
            :nth-child(2) {
                color: #659adf;
            }
            :nth-child(3) {
                color: #e0d44f;
            }
            :nth-child(4) {
                color: #ffff;
            }
            

            a:hover {
                color: $second-color;
            }
        }

        .icons {
            display: flex;
            align-content: space-evenly;
            height: 100%;

            svg {
                min-height: 1.5em;
                margin: 1em 1em 1em 1em;
                fill: $second-color;
                cursor: pointer;
            }

            svg:hover {
                fill: white;
            }
        }
    }
}