@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(33, 33, 44, 0.867);
}

.container {
  background-color: #91adc4;
  border-radius: 18px;
  width: 600px;
  height: 105px;
  position: relative;
  padding: 28px 32px;
  overflow: hidden;
  transition: all 0.5s linear 0.5s;
}
.container .search-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .search-box a {
  text-decoration: none;
  color: black;
}
.container .search-box a .loop {
  font-size: 1.5rem;
  width: 10%;
  cursor: pointer;
  transition: all 0.5s ease;
}
.container .search-box a .loop:hover {
  color: white;
  transform: translateY(-10px);
}
.container .search-box button {
  cursor: pointer;
  font-size: 1.5rem;
  background: #9fd0f9;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transition: 0.4s ease;
}
.container .search-box button:hover {
  color: white;
  background-color: rgba(33, 33, 44, 0.867);
  transform: rotate(90deg);
}
.container .search-box input {
  font-size: 1.5rem;
  border-radius: 5px;
  color: rgba(33, 33, 44, 0.867);
  width: 80%;
  font-weight: 500;
  text-transform: capitalize;
  background-color: #91adc4;
  color: white;
}
.container .not-found {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  scale: 0;
  opacity: 0;
  display: none;
}
.container .not-found img {
  width: 70%;
}
.container .not-found p {
  color: rgba(33, 33, 44, 0.867);
  font-size: 1.5rem;
}
.container .weather-box {
  text-align: center;
  scale: 0;
  opacity: 0;
}
.container .weather-box img {
  width: 30%;
  margin-top: 30px;
}
.container .weather-box .temperature {
  position: relative;
  color: rgba(33, 33, 44, 0.867);
  font-size: 2rem;
  font-weight: 800;
  margin-top: 30px;
}
.container .weather-box .description {
  position: relative;
  color: rgba(33, 33, 44, 0.867);
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
}
.container .weather-details {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgba(33, 33, 44, 0.867);
  margin-top: 3rem;
  scale: 0;
  opacity: 0;
}
.container .weather-details .text {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container .weather-box,
.container .weather-details {
  scale: 0;
  opacity: 0;
}
.container .fadeIn {
  animation: 0.5s fadeIn forwards;
  animation-delay: 0.5s;
}
@keyframes fadeIn {
  to {
    scale: 1;
    opacity: 1;
  }
}/*# sourceMappingURL=weather.css.map */