@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
$main-color: rgba(33, 33, 44, 0.867);
$second-color: #9fd0f9;
$third-color: #2a5f7a;
$fourth-color: #91adc4;
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $main-color;
}

.container {
    background-color: $fourth-color;
    border-radius: 18px;
    width: 600px;
    height: 105px;
    position: relative;
    padding: 28px 32px;
    overflow: hidden;
    transition: all 0.5s linear 0.5s;

    .search-box {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            text-decoration: none;
            color: black;
            .loop {
                font-size: 1.5rem;
                width: 10%;
                cursor: pointer;
                transition: all 0.5s ease;
            }
            .loop:hover {
                color: white;
                transform: translateY(-10px);
            }
        }

        button {
            cursor: pointer;
            font-size: 1.5rem;
            background: $second-color;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            transition: 0.4s ease;
        }

        button:hover {
            color: white;
            background-color: $main-color;
            transform: rotate(90deg);
        }

        input {
            font-size: 1.5rem;
            border-radius: 5px;
            color: $main-color;
            width: 80%;
            font-weight: 500;
            text-transform: capitalize;
            background-color: $fourth-color;
            color: white;
        }
    }

    .not-found {
        width: 100%;
        text-align: center;
        margin-top: 50px;
        scale: 0;
        opacity: 0;
        display: none;

        img {
            width: 70%;
        }
        p {
            color: $main-color;
            font-size: 1.5rem;
        }
    }

    .weather-box {
        text-align: center;
        scale: 0;
        opacity: 0;

        img {
            width: 30%;
            margin-top: 30px;
        }

        .temperature {
            position: relative;
            color: $main-color;
            font-size: 2rem;
            font-weight: 800;
            margin-top: 30px;
        }
        .description {
            position: relative;
            color: $main-color;
            font-size: 1rem;
            font-weight: 500;
            text-transform: capitalize;
        }
    }

    .weather-details {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: $main-color;
        margin-top: 3rem;
        scale: 0;
        opacity: 0;

        .text {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }

    .weather-box,
    .weather-details {
        scale: 0;
        opacity: 0;
    }

    .fadeIn {
        animation: 0.5s fadeIn forwards;
        animation-delay: 0.5s;
    }

    @keyframes fadeIn {
        to {
            scale: 1;
            opacity: 1;
        }
    }
}
