$main-color: rgba(33, 33, 44, 0.867);
$second-color: #9fd0f9;
$third-color: #2a5f7a;

* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    color: black;
}

body {
    background-color: rgb(2, 0, 36);
    height: 100vh;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.grid-container {
    min-width: 50%;
    min-height: 70%;
    max-height: 100vh;
    display: grid;
    grid-template-columns: repeat(1fr);
    gap: 10px;
    grid-template-areas:
        "one two two"
        "three three four"
        "five six four";

    @media (max-width: 1200px) {
        max-width: 100%;
        min-width: 100%;
    }

    .grid-item-1 {
        grid-area: one;
        background-color: #fd9d3a;
    }
    .grid-item-2 {
        grid-area: two;
        background-color: #e37434;
    }
    .grid-item-3 {
        grid-area: three;
        background-color: #fa6e47;
    }
    .grid-item-4 {
        grid-area: four;
        background-color: #e34134;
    }
    .grid-item-5 {
        grid-area: five;
        background-color: #fd3a6c;
    }
    .grid-item-6 {
        grid-area: six;
        background-color: #e32971;
    }

    .grid-item {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 3rem;
        font-weight: 700;
    }
}

.head {
    position: absolute;
    background-color: $main-color;
    top: 0;
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2em;
    font-weight: 1000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    @media (max-width: 1200px) {
        max-width: 100%;
        min-width: 100%;
    }

    p,
    a {
        text-decoration: none;
        color: $second-color;
    }

    .btn {
        border-radius: 20px;
        border: 4px solid $third-color;
        background-color: $main-color;
        padding: 10px;
        cursor: pointer;
    }

    .btn:hover {
        transform: translateY(-10px);
        transition: ease-in-out 0.2s;
        box-shadow: 0 10px $third-color;
    }
}
